<div class="chat" [ngStyle]="{'height': (this.room) ? '100%' : 'calc(100% - 61px)'}">
    <div class="message-interface">
        <div class="message-container">
            <div *ngFor="let message of messages; let i = index" class="message"
                 [ngStyle]="{'background-color': (i % 2 === 1) ? 'var(--gray-700)' : 'var(--gray-800)'}"
            >
                <p style="display: block; overflow-wrap: break-word; max-width: 80%; padding-right: 25px;">{{message.message}}</p>
                <div class="message-metadata" style="max-width: 20%; text-align: right;">
                    <b>{{message.username}}</b>
                    <p [hidden]="this.room">{{message.timestamp}}</p>
                </div>
            </div>
        </div>
        <div class="input-container">
            <span class="p-input-icon-right" style="width: 100%;">
                <i class="pi pi-send" (click)="sendMessage()"></i>
                <input type="text" pInputText [(ngModel)]="inputMessage"
                       (keyup.enter)="sendMessage()" [style]="{'width':'100%'}"
                />
            </span>
        </div>
    </div>
</div>

<p-dialog header="Join Chat" [(visible)]="displayDialog"
          [draggable]="false" [modal]="true" [dismissableMask]="false"
>
    <div style="display: inline-flex; margin-top: 20px;">
        <span class="p-float-label">
            <input id="input" type="text" pInputText [(ngModel)]="username" (keyup.enter)="joinChat()"> 
            <label for="input">Username</label>
        </span>
        <button type="button" pButton label="Join"
                class="p-button-primary"
                style="margin-left: 10px;"
                (click)="joinChat()"
        ></button>
    </div>
</p-dialog>