 <div class="taken-container">
  <div class="taken-piece" [ngClass]="{ 'whiteTaken' : pieceInfo.isWhite() }" *ngFor="let pieceInfo of takenPieces">
    <app-piece [info]="pieceInfo" [isTaken]="true"></app-piece>
  </div>
</div> 
<div class="content">
  <div class="container">
    <div class="space" *ngFor="let space of allSpaces" [ngClass]="{ 'dark' : (space.x + space.y) % 2 !== 0 }" (click)="spaceClicked(space.file, space.rank)">
      <p class="space-name" [ngClass]="{ selected: space.containsSelectedPiece }">{{ space.file }}{{ space.rank }}</p>
      <div class="piece-container" *ngFor="let pieceInfo of pieces">
        <app-piece *ngIf="pieceInfo.file === space.file && pieceInfo.rank === space.rank" [info]="pieceInfo"></app-piece>
      </div>
      <div class="promotion" *ngIf="togglePromotion && space.file === promotionSpace.file && space.rank === promotionSpace.rank">
        <div class="promotion-container" *ngFor="let promotionInfo of promotionPieces" (click)="promotionClicked(promotionInfo, space.file, space.rank)">
          <app-piece class="promotion-piece" [info]="promotionInfo"></app-piece>
        </div>
      </div>
      <div class="playable" *ngIf="isPlayable(space.file, space.rank)" [ngClass]="{ 'isTakeable' : space.isTakeable }"></div>
    </div>
  </div>
  <div class="footer">
    <button class="reset" (click)="reset()">Reset</button>
    <div class="notation">
      <h3 *ngIf="whiteInCheck" style="color: var(--dark);">+</h3>
      <h3 *ngIf="blackInCheck" style="color: var(--light);">+</h3>
      <h3 *ngIf="whiteInMate" style="color: var(--dark);">*</h3>
      <h3 *ngIf="blackInMate" style="color: var(--light);">*</h3>
    </div>
  </div>
</div>

