 <div class="taken-container">
  <div class="taken-piece"*ngFor="let pieceInfo of takenPieces">
    <app-piece [info]="pieceInfo" [isTaken]="true"></app-piece>
  </div>
</div> 
<div class="content">
  <div class="container" [ngStyle]="{'flex-direction': this.userInfo.color === 'White' ? 'column' : 'column-reverse'}">
    <div class="space" *ngFor="let space of allSpaces" [ngClass]="{ 'dark' : (space.x + space.y) % 2 !== 0 }" (click)="spaceClicked(space.file, space.rank)">
      <p class="space-name">{{ space.file }}{{ space.rank }}</p>
      <div class="piece-container" *ngFor="let pieceInfo of pieces">
        <app-piece *ngIf="pieceInfo.file === space.file && pieceInfo.rank === space.rank" [info]="pieceInfo"></app-piece>
      </div>
      <div class="playable" *ngIf="isPlayable(space.file, space.rank)" [ngClass]="{ 'isTakeable' : space.isTakeable}"></div>
    </div>
  </div>
</div>

<div>
  <h2>{{gameInfo.turn}}'s turn</h2>
</div>

<button pButton class="p-button-primary" (click)="makeMove(this.userInfo.username, 'Nf4')">Click to Move</button>
