.content {
  width: 100%;
}

.container {
  width: 560px;
  height: 560px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.space {
  width: 70px;
  height: 70px;
  background-color: var(--light);
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.space-name {
  margin: 0px 5px;
  padding-top: 2px;
  font-size: 12px;
}

.piece-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playable {
  width: 40%;
  height: 40%;
  margin: auto;
  margin-top: 10%;
  background-color: black;
  opacity: 0.4;
  border-radius: 100%;
}

.isTakeable {
  margin-top: -50px;
  background-color: rgb(255, 0, 0);
  opacity: 0.4;
}

.hasPiece {
  margin-top: -50px;
  background-color: rgb(0, 255, 0);
  opacity: 0.4;
}

.reset {
  width: 70px;
  font-size: 14px;
  padding: 5px;
  color: var(--light);
  background-color: var(--dark);
  font-weight: bold;
  border: 2px solid var(--light);
  border-radius: 5px;
}

.reset:hover {
  cursor: pointer;
  opacity: 0.8;
}

.taken-container {
  width: 556px;
  height: 30px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light);
  margin-bottom: 10px;
}

.taken-piece {
  display: inline-block;
  margin-left: -20px;
}

.footer {
  display: inline-flex;
  margin-top: 10px;
}

.notation {
  background-color: gray;
  font-size: 20px;
}