<img class="piece" *ngIf="info.color === 'black' && info.type === 'pawn'"  [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-pawn.svg" />
<img class="piece" *ngIf="info.color === 'black' && info.type === 'knight'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-knight.svg" />
<img class="piece" *ngIf="info.color === 'black' && info.type === 'bishop'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-bishop.svg" />
<img class="piece" *ngIf="info.color === 'black' && info.type === 'queen'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-queen.svg" />
<img class="piece" *ngIf="info.color === 'black' && info.type === 'king'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-king.svg" />
<img class="piece" *ngIf="info.color === 'black' && info.type === 'rook'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/b-rook.svg" />

<img class="piece" *ngIf="info.color === 'white' && info.type === 'pawn'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-pawn.svg" />
<img class="piece" *ngIf="info.color === 'white' && info.type === 'knight'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-knight.svg" />
<img class="piece" *ngIf="info.color === 'white' && info.type === 'bishop'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-bishop.svg" />
<img class="piece" *ngIf="info.color === 'white' && info.type === 'queen'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-queen.svg" />
<img class="piece" *ngIf="info.color === 'white' && info.type === 'king'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-king.svg" />
<img class="piece" *ngIf="info.color === 'white' && info.type === 'rook'" [ngClass]="{ 'isTaken' : isTaken }" src="assets/w-rook.svg" />
