<div class="container">
  <img *ngIf="type === 'b-pawn'" src="assets/b-pawn.svg" />
  <img *ngIf="type === 'b-knight'" src="assets/b-knight.svg" />
  <img *ngIf="type === 'b-bishop'" src="assets/b-bishop.svg" />
  <img *ngIf="type === 'b-queen'" src="assets/b-queen.svg" />
  <img *ngIf="type === 'b-king'" src="assets/b-king.svg" />

  <img *ngIf="type === 'w-pawn'" src="assets/w-pawn.svg" />
  <img *ngIf="type === 'w-knight'" src="assets/w-knight.svg" />
  <img *ngIf="type === 'w-bishop'" src="assets/w-bishop.svg" />
  <img *ngIf="type === 'w-queen'" src="assets/w-queen.svg" />
  <img *ngIf="type === 'w-king'" src="assets/w-king.svg" />
</div>
