/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
:root {
  --dark: #274c77;
  --light: #e7ecef;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  background-color: black;
  height: 100%;
  width: 100%;
}
